body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: blueviolet;
    text-shadow: 5cap;
}

img{
    max-height: 500px;
    max-width: 500px;
    border-radius: 200px;
}